*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
}

.container-header{

    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: aliceblue;
}

.logo img{
    width: 65%;
}

.nav ul {
    list-style-type: none;
}
.nav ul li {
    display: inline;
    margin-right: 26px;
}

.nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.icons a{
    margin-right: 20px;
    font-size: 18px;
    color: black;
    padding: 17px 12px;
    background-color: rgb(196, 238, 248);
    border-radius: 13px;
}
.icons a:last-child{
    margin-right: 5px;
}